.top-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  width: 80%;
  justify-content: center;
}
.top-line input {
  font-size: 13px;
  width: 50%;
  border: solid 1px #c8cdcd;
  border-radius: 8px;
  height: 36px;
  padding-left: 12px;
  color: #001e28;
}
.bottom-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  width: 80%;
  justify-content: start;
  padding: 8px;
  margin-left: 16px;
  margin-bottom: 8px;
}
@media screen and (max-width: 800px) {
  .top-line input {
    width: 100%;
  }
  .top-line,
  .bottom-line {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
  }
}
