.title {
  color: white;
  text-align: center;
  width: fit-content;
  margin: 0;
  padding: 20px;
}
.title-wrapper {
  background-color: #001e28;
  width: 100%;
  height: fit-content;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clickable {
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 20px;
  }
}
